nav{
	display: flex;
}
nav>a{
	display: block;
	width: 400px;
	background-color:rgba(100,100,100,100);
	text-align: center;
	box-sizing:border-box;
	padding:5px;
    color:#FFF;
    margin:1px;
    text-decoration:none;
    transition:all 1s ease;
}
nav>a:hover{
	background-color: rgba(1,11,25);
	color: #FFF000;
	transition:all 1= ease;
}
#ch{
	display:none;
}
#lab{
	width: 30px;
	height: 30px;
	background: linear-gradient(#FFF 0%,#FFF 20%,transparent 21%, transparent 40%,#FFF 41%, #FFF 60%,transparent 61%,transparent 80%,#FFF 81%, #FFF 100%);
	margin:4px;
	display:none;
}
@media all and (max-width: 960px) {
	nav{
		display: block;
		position: absolute;
		left:0;
		right:0;
		transform:translate(-1000px,0);
		transition:all 1s ease;
	}
	nav>a{
		width: auto;
	}
	#ch:checked+nav{
		transform:translate(0,0);
		transition:all 1s ease;

	}
	#lab{
		display:block;
	}
}
